body {
    background-image: url("https://images.unsplash.com/photo-1586581277029-5769487f3881?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color:#dbe5df;
    font-family: 'Trebuchet MS', sans-serif;
    color: #1C1B1F;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    display: grid;
    grid-template-areas:
    'header header header'
    'menu main main'
    'menu main main'
    'footer footer footer';
    box-shadow: inset 0 0 0 1920px rgba(219,229,223,.95);
}

#welcome {
    font-size: xx-large;
    font-weight: bolder;
    color: #1D192B;
    grid-area: header;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#leftPane {
    grid-area: menu
}

#statusBar {
    display: grid;
    align-items: center;
    background-color: #002019;
    border-radius: 10px;
    width: 30;
}

.status {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 10px;
    background-color: #006b57;
    border-radius: 10px;
}

.statusData {
    font-weight: bold;
    font-size: xx-large;
}

#options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 10px; 
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

p {
    font-size: medium;
    text-align: justify;
}

input[type="button"], button {
    background:#006b57;
    color: #dbe5df;
    font-size: medium;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 10px;
    width: 100px;
}

input[type="button"]:hover {
    background:#7cf8d6 ;
    color: #002019;
    cursor: pointer;
}

input[type="button"]:active {
    background:#002019 ;
    color: #7cf8d6;
}

#gameOverMessage {
    background-color: #002019;
    border-radius: 50px;
    color: white;
    font-size: xx-large;
    padding: 150px 20px 150px 20px;
    margin-left: 10px;
    margin-top: 10px;
}

table {
    border: #1D192B;
    margin: 20px;;
    grid-area: main;
}

td {
    border: red;
}

td:hover, button:hover {
    cursor: pointer;
}

#attribution {
    grid-area: footer;
}